body{
    background-color: grey;
}

a:link{
    color: cornflowerblue;
}

a:visited{
    color: darkmagenta;
}

.contentImage{
    width: 200px;
}

span {
    margin-left: 10%;
}

#menu {
    margin: auto;
    background-color: aquamarine;
    font-size: 16px;
    margin-top: 60px;
}

#menu .button{
    width: 150px;
    background: dimgrey;
    border: 5px dotted black;
    border-radius: 20px;
    padding: auto;
    display: inline-block;
}

#menu .button:HOVER{
    background: white;
    color: black;
}

table{
    border: 3px black double;
}